#title {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;  
    width: 70%;
  
  }

  @media screen and (min-width: 600px) {
    #title {
    width: 100%;
    margin-left: 50px;
    }
 }

  @media screen and (min-width: 1024px) {
    #title {
      width: 100%;
      font-size: 3.6rem;
    }
}