.brand-name {
    font-size: 1.2rem;
    color: white;
  }
  
  /* Add responsive styles for screens larger than 1024px */
  @media screen and (min-width: 1024px) {
    .brand-name {
      font-size: 1.8rem;
    }
  }