/* Mobile Styles */
#content-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: left;
  background-color: #2f303a;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 40px !important;
  font-family: "Poppins", sans-serif;
}

#content-mobile #centered-content {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

/* Laptop Styles */
#content-laptop {
  display: none;
}

.laptop-hero-image {
  display: none;
}

/* Circles Styling */
.circle {
  position: absolute;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}

/* Positioning of small circles */
.circle1 {
  top: 120%;
  left: -5%;
  background-color: #bc3a801a;
}

.circle2 {
  width: 40vw;
  height: 40vw;
  top: 160%;
  right: -20%;
  background-color: #3457b21a;
}

.circle3 {
  bottom: 150%;
  left: 20%;
  background-color: #3457b21a;
}

@media screen and (min-width: 1024px) {
  #content-mobile {
    display: none; 
  }

  #content-laptop {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    font-family: "Poppins", sans-serif;
    background-color: #2f303a;
    position: relative;
  }

  #overlay {
    margin-left: 40%;
  }

  #circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Positioning of large circles */
  #circle-container .circle1 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 22%;
    left: 8%;
  }

  #circle-container .circle2 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 10%;
    right: 40%;
  }

  #circle-container .circle3 {
    position: absolute;
    width: 700px;
    height: 700px;
    bottom: -15%;
    left: 75%;
  }
}
