.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  background-color: #202027;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.footer-column a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.footer-column h3 {
  font-size: 1rem;
}

.footer-column span {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  flex: 1;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.footer-links a:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .footer-column {
    display: block;
    font-size: 1.4rem;
  }

  .footer-column h3 {
    font-size: 1.4rem;
  }

  .footer-column:first-child {
    margin-left: 15vw;
  }

  .footer-column:nth-child(2) {
    margin-left: 2vw;
  }

  .footer-column:nth-child(3) {
    margin-left: 32vw;
  }

  .footer-column:nth-child(4) {
    margin-right: 15vw;
  }

  .footer-column a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
  }

  .footer-column span {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}
