#discover-section {
  margin-top: 5vh;
}

.icons {
  display: flex;
  gap: 2vw;
  margin: 2vh 0vw;
}

@media screen and (min-width: 1024px) {
  #discover-section {
    margin-top: 20vh;
  }

  .text {
    width: 110%;
  }

  .album-covers {
    margin-top: -3vh;
  }
}
