#join-page-button {
  background-color: #1762a7;
  font-size: 0.8rem;
  color: white;
  margin-top: 10px;
  font-weight: normal;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  width: 60vw;
  padding: 3%;
  margin-bottom: 25px;
}

#join-page-button:hover {
  background-color: #2180d8;
}

#join-page-button:focus {
  background-color: #2796ff;
}

@media screen and (min-width: 1024px) {
  #join-page-button {
    width: 25vw;
    font-size: 1.1rem;
  }
}
