* {
  margin: 0;
  padding: 0;
  border: 0px;
}

.navbar {
  background-color: #2f303a !important ;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px !important;
}

.logo-brand-container {
  margin-left: 7vw;
  margin-right: 3vw;
  background-color: #2f303a;
  display: flex;
  align-items: center;
}

.navbar .menu .navbar-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.navbar .menu .navbar-link:hover {
  text-decoration: none;
  color: #adadad;
}

.join-link {
  margin-right: 15px;
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 4vh !important;
  }

  .navbar .menu .navbar-link {
    font-size: 1.5rem;
  }
}
