#small-text-field {
  color: white;
  font-size: 1.1rem;
  width: 80vw;
  margin: 3vh 0px;
}

@media screen and (min-width: 600px) {
  #small-text-field {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  #small-text-field {
    width: 100vw;
    font-size: 1.4rem;
  }
}
