.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: #202027;
  padding: 30px;
}

.discover-icon {
  margin-top: 10px;
  width: 30px;
}

@media screen and (min-width: 600px) {
  .icon-container {
    width: 100px;
    height: 100px;
  }

  .discover-icon {
    width: 40px;
  }
}
